html {
    font-family: 'Didact Gothic', sans-serif;
}

body {
  margin: 0;
}

body, html {
  overflow: auto!important;
}

header {
  margin-bottom: 70px;
}

#header_style {
  height: 60px;
  background-color: #0083B3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header_notif {
  width: 300px;
  height: 30px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 5px;
  padding: 5px;
  display: none;
  animation-duration: 0.5s;
  color: white;
}

#header_notif_load {
  background-color: #818181;
}

#header_notif_success {
  background-color: #4BB543;
}

#header_notif_error {
  background-color: #B00020;
}

.header_notif_spin {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.header_notif_text {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

#header_style_container {
  /*border: 2px solid red;*/
  width: 60%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

#header_style_logo {
  /*background-color: #EBEBEB;*/
  border-radius: 20px 20px;
}

#header_style_logo > img {
  width: 110px;
  height: auto;
  padding-top: 5px;
}

#header_style_menu {
  width: 50%;
  align-items: center;
}

#header_style_actions {
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.header_style_menu_items {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
}

#header_style_menu_search {
  height: 35px;
  border: 2px solid #FFFFFF;
  border-radius: 7px;
  background-color: #EBEBEB;
  padding: 5px;
  color: #5d5d5d;
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
  outline: none;
}

.header_style_menu_items > p {
  margin: 0;
}

.header_style_menu_items > p > a {
  color: #c9c9c9;
  text-decoration: none;
}

.header_style_menu_items_selected > p > a {
  /*border-bottom: 3px solid #FFFFFF;*/
  color: #FFFFFF;
}

.header_style_menu_items > p >a:hover {
  color: #FFFFFF;
}

#header_style_menu_connexion {
  margin-left: 10px;
  height: auto;
}

#header_style_menu_connexion img {
  width: 45px;
  height: 45px;
}

#header_style_menu_connexion:hover {
  cursor: pointer;
 }

#header_style_menu_actions {
  position: relative;
  margin-right: 20%;
  float: right;
}

#header_style_menu_actions_rectangle {
  margin-top: 10px;
  width: 200px;
  height: 70px;
  background-color: #D4D4D4;
  border-radius: 5px;
}

#header_style_menu_actions_arrow {
  float: right;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #D4D4D4;
}

#header_style_menu_action_rectangle_container {
  padding: 7px;
}

.header_style_menu_action_rectangle_items  {
  padding: 3px;
}

.header_style_menu_action_rectangle_items i {
  color: white;
}

.header_style_menu_action_rectangle_items div {
  display: flex;
  align-items: center;
  padding-right: 7px;
}

.header_style_menu_action_rectangle_items p {
  margin: 0;
}

.header_style_menu_action_rectangle_items  a {
  text-decoration: none;
  color: #0083B3;
  font-weight: bold;
}

.header_style_menu_action_rectangle_items a:hover {
 color: #FFFFFF;
}
.header_style_menu_action_img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}


/* singup */

#signup_submit {
  width: 100%;
}

/* connexion */

.form_input {
  width: 100%;
  background-color: #EBEBEB;
  height: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 5px;
}


/* MIX */

.form_style_link {
  font-size: 15px;
  font-weight: normal;
  padding-top: 15px;
  width: 50%;
}

.form_style_link > p > a {
  text-decoration: none;
  color: #0083B3;
}

.form_style_title {
  font-size: 21px;
  padding-bottom: 5px;
  /*height: 80px;*/
}

.form_style_bck {
  padding: 15px 20px 15px 20px;
  color: #0083B3;
  font-weight: bold;
  font-size: 28px;
  width: 25%;
  height: auto;
  margin: 0 auto;
  margin-top: 150px !important;
  background-color: #EBEBEB;
  border-radius: 25px;
}

.form_style_bck p {
  margin: 0;
  padding-bottom: 5px;
}
.form_style_front {
  height: auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 20px;
}

/*
.form_style_front > div > input {
  font-size: 18px;
  padding: 5px;
}
*/

.form_style_submit {
  padding-top: 20px;
  justify-content: center;
}

.form_style_submit > input {
  background-color: #0083B3;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  padding: 0 7px 0 7px;
  border-radius: 6px;
  border: none;
}

.form_style_submit > input:hover {
  cursor: pointer;
}

.flex_container {
  display: flex;
  flex-wrap: nowrap;
}

.link a:hover {
  color: #383838;
}

.link a {
  text-decoration: none;
  color: #FFFFFF;
}

.link a {
  text-decoration: none;
  color: #FFFFFF;
}

.header_style_logo_scroll > img {
  width: 60px !important;
}

.header_style_logo_scroll {
  width: auto !important;
  height: auto !important;
  background-color: transparent !important;
}

#home_style_bck {
  width: 100%;
  background-color: red;
}

/* FOOTER */

footer {
  margin-top: 150px;
  width: 100%;
  height: 300px;
  background-color: #0083B3;
  color: #FFFFFF;
}

#footer_text > div > p {
  margin: 0;
}

#footer_container {
  width: 60%;
  margin: 0 auto;
  height: 70%;
}

#footer_text {
  padding-top: 50px;
  width: 80%;
  font-size: 20px;
}

#footer_text > div {
  padding-top: 10px;
  border-top: 7px solid #FFFFFF;
}

#footer_text_owner {
  width: 50%;
}

#footer_text_contact {
  width: 30%;
}

#footer_image {
  width: 20%;
  padding: -20px;
}

#footer_image > img {
  height: 200px;
  width: auto;
}

#footer_copyright {
  padding-top: 30px;
  font-size: 12px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#footer_copyright a {
  text-decoration: none;
  color: #FFFFFF;
}

#footer_copyright a:hover {
  color: #383838;
}

/* Home */

#home_container {
  /*border: 2px solid yellow;*/
  height: auto;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}

#home_style_flexbox {
  height: 350px;
}

.home_style_flexbox_head {
  margin: 5px;
  flex: 1 1 auto;
  background-color: #EBEBEB;
  border-radius: 15px;
  flex-direction: column;
  width: 200px;
}

.home_style_flexbox_title_container {
  height: 40px;
  padding: 10px;
}

.home_style_flexbox_title_text {
  width: 100%;
}

.home_style_flexbox_title_text > p {
  color: #0083B3;
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding: 5px;
}

.home_style_flexbox_title_img {
  width: 40px;
}

#home_style_flexbox_container {
  padding: 20px 10px;
  flex-direction: column;
}

.home_style_flexbox_fields{
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #EBEBEB;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  font-size: 18px;
  color: #5d5d5d;
  outline: none;
}

.home_style_flexbox_input {
  width: 70%;
  padding: 7px !important;
  margin: 30px 10px 10px 10px;
  border-radius: 10px;
  background-color: #0083B3;
  color: #FFFFFF;
  border: none;
}

.home_style_flexbox_input:focus {
  outline: none;
}

#home_style_flexbox_sub_text_field {
  text-align: center;
}

.home_style_flexbox_sub_text {
  justify-content: center;
  height: 100%;
}

.home_style_flexbox_sub_text_scroll {
  overflow: hidden;
  overflow-y: auto;
  height: 90%;
  list-style-type: none;
  /*padding: 0 0 0 10px;*/
  width: 96%;
  padding: 0;
  margin: 5px;
}

.home_style_flexbox_sub_text > form {
  width: 100%;
}

.home_style_flexbox_sub_text_scroll li {
  padding: 5px;
  background: #d4d4d4;
  margin-bottom: 5px;
  border-radius: 5px;
}

.home_style_flexbox_sub_text_scroll li i:hover {
  display: block;
}

#home_style_flexbox_map_container {
  height: 450px;
  width: 100%;
  background-color: #EBEBEB;
  border-radius: 25px;
  margin-top: 15px;
}

#home_style_flexbox_map_border {
  width: 100%;
  height: auto;
  margin: 15px;
  border-radius: 20px;
}

#home_style_flexbox_map {
  width: 100%;
  border-radius: 20px;
}

/* INFO */

#info_sytle_bck {
  height: auto;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px !important;
  background-color: #EBEBEB;
  border-radius: 25px;
}

#info_sytle_bck p {
  margin: 0;
  color: #0083B3;
  font-weight: bold;
  font-size: 28px;
}

#info_sytle_bck_border {
  padding: 20px;
}

#info_sytle_bck_border p {
  padding-bottom: 5px;
  text-align: justify;
}

#info_style_container {
  width: auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 20px 20px 40px 20px;
}

#info_style_container p {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  color: #000000;
}

#info_style_sign {
  padding-top: 20px;
  border-bottom: 7px solid #0083B3;
  width: 35%;
}

#info_style_sign p {
  font-size: 22px;
  color: #0083B3;
  font-weight: bold;
}

#info_sytle_ceo {
  padding-top: 10px;
}

#info_sytle_ceo > p {
  padding: 0;
}


/* Itinéraire */
#itineraire_flex_header_title {
  color: #FFFFFF;
  background-color: #0083B3;
  height: 50px;
  padding: 0 15px;
}

#itineraire_flex_Header_direction > p {
  margin: 0;
}

#itineraire_flex_Header_direction {
  width: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#itineraire_flex_header_time {
  width: 150px;
  justify-content: center;
  padding-left: 15px;
  flex-direction: column;
  text-align: right;
}

#itineraire_flex_header_time p {
  margin: 0;
  padding-right: 5px;
}

#itineraire_flex_header_time_container {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  display: flex;
}

#itineraire_flex_header_time_container > form {
  margin-bottom: 0;
}

#itineraire_flex_header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#itineraire_flex_header_logo > img {
  width: 30px;
  height: 30px;
}



#itineraire_flex_container_bck {
  height: auto;
  background-color: #EBEBEB;
}

#itineraire_flex_container {
  padding: 15px;
}

#itineraire_flex_container_title p {
  margin: 0;
  font-size: 20px;
}

#itineraire_flex_container_title {
  height: 40px;
  background-color: #0083B3;
  color: #FFFFFF;
  padding: 0 8px;
}

#itineraire_flex_container_title_now {
  width: 50%;
}

#itineraire_flex_conftainer_title_time {
  width: 20%;
}

#itineraire_flex_container_title_change {
  width: 20%;
}

.itineraire_flex_container_travel {
  padding: 8px;
  width: auto;
  background-color: #FFFFFF;
}

.itineraire_flex_container_travel_bck {
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.itineraire_flex_container_travel_text {
  padding-bottom: 5px;
}

.itineraire_flex_container_travel_text p {
  font-size: 20px;
}

/*
.itineraire_flex_container_travel:hover {
  background-color: gray;
}
*/

.itineraire_flex_container_travel_bck p {
    margin: 0
}

.itineraire_flex_container_travel_now {
  font-size: 18px;
  text-align: center;
  border-right: 2px solid #b9b7b7;
  padding-right: 20px;
}

.itineraire_flex_container_travel_line {
  border-top: 3px solid red;
  position: relative;
  top: 14px;
  margin: 0 20px;
  width: 200px;
}

.itineraire_flex_container_travel_now svg {
  position: relative;
  bottom: 8px;
  width: 100%;
}

.itineraire_flex_container_travel_time {
  width: 20%;
  text-align: center;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #b9b7b7;
}

.itineraire_flex_container_travel_time p {
  width: 100%;
}

.itineraire_flex_container_travel_change {
  width: 20%;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.itineraire_flex_container_travel_change p {
  width: 100%;
  text-align: center;
  font-size: 18px;

}

.itineraire_flex_container_travel_more {
  width: 10%;
  justify-content: center;
}

.itineraire_flex_container_travel_container {
  padding-top: 10px;
}

.itineraire_flex_container_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.itineraire_flex_container_travel_details {
    padding:10px;
  min-height: 200px;
  height: 200px;
}

.itineraire_flex_container_travel_details_container {
  width: 50%;
}

.itineraire_flex_container_travel_details_box {
  padding-right: 20px;
}

/*
.itineraire_flex_container_travel_details_hours {
    width: 40px;
}
*/

.itineraire_flex_container_travel_details_start {
    height: 45%;
}

.itineraire_flex_container_travel_details_hours_start {
  height: 90%;
}

.itineraire_flex_container_travel_details_hours_start p {
  margin: 0;
}

.itineraire_flex_container_travel_details_start > p {
    margin: 0;
}

.itineraire_flex_container_travel_details_infos {
  height: 45%;
  flex-direction: column;
  font-size: 16px;
}

.itineraire_flex_container_travel_details_infos p {
  margin: 0;
}

.itineraire_flex_container_travel_details_end {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.itineraire_flex_container_travel_details_end > p {
    margin: 0;
}

.itineraire_flex_container_travel_details_line {
    width: 40px;
}

.itineraire_flex_container_travel_details_line > svg {
    position: relative;
    left: 16px;
}

.itineraire_flex_container_travel_details_walk {
    height: 50px;
    margin: 8px;
    background: lightgray;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.itineraire_flex_container_travel_details_walk p {
    margin: 0;
    margin-left: 10px;
}

.itineraire_flex_container_travel_action {
  width: 50%;
}

.itineraire_flex_container_travel_action_perturbations {
  height: 80%;
  width: 50%;
  margin-right: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  padding: 10px;
  border-radius: 10px;
}

.itineraire_flex_container_travel_action_outils {
  height: 80%;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  padding: 10px;
  border-radius: 10px;
}

.itineraire_flex_container_travel_action_outils_icon:hover {
  padding-left: 5px;
}

.itineraire_flex_container_travel_action_outils ul {
  padding: 0;
  margin-top: 8px;
}

.itineraire_flex_container_travel_action_outils ul li {
  list-style-type: none;
  width: 90%;
  padding-bottom: 5px;
}

.itineraire_flex_container_travel_action_outils ul li:hover {
  color: red;
  cursor: pointer;
}

.itineraire_flex_container_travel_action_outils ul div {
  flex-direction: row;
}

.itineraire_flex_container_travel_action_outils > p, .itineraire_flex_container_travel_action_perturbations > p {
  margin: 0;
  font-size: 19px;
}

.itineraire_flex_container_travel_action_perturbations > div > p {
  margin-top: 8px;
  text-align: center;
}

/* Design SVG */
.dot_start {
  /*
  bottom: 10px;
  left: 10px;

  bottom: 14px;
  right: 90px;
  */

  /*
  bottom: 20%;
  right: 45%;
  */
  bottom: 13px;
  right: 45%;
}

.dot_end {
  /*
  bottom: 10px;
  right: 10px;

  bottom: 14px;
  left: 90px;
  */

  bottom: 13px;
  left: 45%;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.dot_start_details {
  left: 10px;
  top: 5px;
}

.dot_end_details {
  left: 10px;
}

/* slidedown transition */
.itineraire_flex_container_travel_accordion {
    color: #444;
    cursor: pointer;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.itineraire_flex_container_travel_panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom: 20px;
    flex-direction: column;
}

.itineraire_flex_container_travel_panel.show {
    opacity: 1;
    margin-top: 2px;
    flex-direction: column;
    max-height: 999em;
}

.itineraire_flex_container_travel_rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.itineraire_flex_container_travel_rotate.down {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}


.home_style_flexbox_sub_text_scroll_container {
  display: flex;
  width: 100%;
}

.home_style_flexbox_sub_text_scroll_container > span {
  margin: 0;
  width: 90%;
}

.home_style_flexbox_sub_text_scroll_line {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 4px;

}

.home_style_flexbox_sub_text_scroll_line_default {
  display: none;
}

.home_style_flexbox_sub_text_scroll_container:hover {
  cursor: pointer;.dot_end
}



/* SELECT 2 - EDIT CSS */
.home_style_flexbox_fields_box {
  padding-bottom: 30px;
}

.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  height: 35px;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px !important;
}

.select2-search__field {
  outline: none;
}

.flatpickr_selector {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  width: auto;
  text-align: right;
  margin-right: 10px;
  outline: none;
}

.flatpickr_selector:hover {
  color: #c9c9c9;
}


/* RESPONSIVE */
@media screen and (max-width: 1450px) {
  #home_container {
    width: 840px;
  }
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
  .home_style_responsive_flexbox_head {
    flex-direction: column;
    width: 50%;
  }

  #home_style_flexbox {
    flex-wrap: wrap;
    height: 350px;
  }

  #home_container {
    width: 98%;
  }

  #header_style_container {
    width: 98%;
  }

  #footer_container {
    width: 98%;
  }

  #footer_image {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #footer_text_contact {
    width: 50%
  }

  #footer_text {
    margin: 0 auto;
  }
}
